@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Poppins:wght@400;500&family=Rubik:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


h1 {
  display: block;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
h2 {
  text-align: center;
  margin: 5px;
  padding: 5px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
#resultado {
  font-size: 14px;
}

.pathname {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.cards {
  box-shadow: 15px 15px 30px #bebebe,
  -15px -15px 30px rgb(254, 254, 254);
  background-color: transparent;
  margin: 3.5rem 0.1rem;

}

body {
  background-color: #EBEBEB;
  align-items: center;
}

.card-link {
  max-width: 50vw !important;
}

#layoutSidenav_content {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 90%;
}
.section-import {
  background-color: #F8F8F8;
}

#forms {
  position: relative;
  text-align: center;
}
#cont {
  position: relative;
  text-align: center;
}
/* #anos{
    margin: 5px;
} */

.spinner-wrapper {
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
}
.spinner-border {
  height: 60px;
  width: 60px;
}
/*Preloader final*/

.media {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1360px;
  max-height: 768px;
  width: auto;
  height: auto;
}

.info-cards {
  float: right;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Sobreposição semi-transparente */
  z-index: 1000; /* Certifique-se de que está acima de outros elementos */
}

.slide-in-card {
  animation: slideInRight 0.5s ease-in-out;
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.colaboracao {
  display: flex;
  justify-content: center;
  align-items: center;
}

.colaboracao img {
  max-width: 1366px;
  max-height: 768px;
  width: auto;
  height: auto;
}

.nuvem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nuvem img {
  max-width: 1024px;
  max-height: 768px;
  width: auto;
  height: auto;
  margin: 1px 1px 1px 1px;
  padding: 1px 1px 1px 1px;
}


