<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="Alex Cirilo" />
    <link
      rel="icon"
      href="{{url_for('static',filename= 'assets/favicon.icon') }}"
    />
    <title>{% block title %}{% endblock %}</title>
    <script src="{{url_for('static',filename= 'js/plotly.min.js') }}"></script>
    <script
      src="https://use.fontawesome.com/releases/v6.1.0/js/all.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css"
    />
    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-3.6.0.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"
    ></script>
    <link
      href="{{url_for('static',filename= 'css/styles.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{url_for('static',filename= 'css/estilos.css') }}"
      rel="stylesheet"
    />
    <script
      src="https://use.fontawesome.com/releases/v6.1.0/js/all.js"
      crossorigin="anonymous"
    ></script>

    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css"
      rel="stylesheet"
    />
  </head>
  <body class=" align-items-center">
 
   
    <nav class=" navbar-expand-lg navbar navbar-dark bg-dark align-items-center">
      <div class="container">
        <a  style="font-size: 1.5rem" class="navbar-brand">AnyLattes</a>
        <!-- <button class="navbar-toggler" style="display: none;" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" style="display: none;"></span> 
        </button> -->
        <div class="collapse navbar-collapse " id="navbarNavAltMarkup"> 
          <div class="navbar-nav">
            <a style="margin: 0.5rem 1rem" class="nav-item nav-link pathname" href="{{url_for('index')}}">Importar dados</a>
            <a style="margin: 0.5rem 1rem" class="nav-item nav-link pathname" href="{{url_for('imports')}}">Importar Qualis</a>
            <a style="margin: 0.5rem 1rem" class="nav-item nav-link pathname" href="{{url_for('resultado_total')}}">Resultado Geral</a>
            <a style="margin: 0.5rem 1rem" class="nav-item nav-link pathname" href="{{url_for('resultado_por_docente')}}">Resultados por Docente</a>
            <a style="margin: 0.5rem 1rem" class="nav-link nav-item pathname" href="{{url_for('wordcloud')}}">Nuvem de palavras</a>
            <a style="margin: 0.5rem 1rem" class="nav-link nav-item pathname" href="{{url_for('configuracoes')}}">Configurações</a>
          </div>
          
        </div>
      </div>
    </nav>
    </nav>
      <!-- Sidebar Toggle-->

      <div id="layoutSidenav_container"> <!-- Center everything -->
        <main>
          <div class="container-fluid">
            <div class="spinner-wrapper">
              <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>
            <div class=" container"> <!-- Center alerts and content -->
              {% for messages in get_flashed_messages() %}
                <div id="alert" class="alert alert-primary alert-dismissible fade show" role="alert">
                  {{ messages }}
                </div>
              {% endfor %}
              {% block content %} {% endblock %}
            </div>
          </div>
        </main>
        <!-- Footer-->
       <!--  {% extends 'footer.html' %}-->
      </div>
    </div>

   
    
  </body>
</html>
